*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  padding: 20px auto 20px auto;
  color: aqua;
  font-size: 20px;
}

p {
  padding: 20px auto 20px auto;
  color: gray;
  font-size: 16px;
}