*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic Styles */
html {
  font-size: 16px;
  font-family: 'Carla', sans-serif
}

body {
  background-color: #E6EFF6;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}



/* styles for the whole box */
.container {
  /* dimensioning the container */
  height: 500px;
  width: 710px;
  border-radius: 10px;
  
  /* positioning the container in the middle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* grid layout */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 47% 53%;

  /* color */
  background-color: #fff;

  /* shadow */
  -webkit-box-shadow: 0px 0px 20px 0px rgba(10,74,73,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(10,74,73,0.3);
  box-shadow: 0px 0px 20px 0px rgba(10,74,73,0.3);
}

/* Top section */
.top {
  grid-column: span 2;
  padding-left: 30px;
  padding-top: 30px;
}

.top > h1 {
  color: #2BB3B1;
  padding: 0 0 20px 0;
}

.top > h2 {
  color: #BFDF32;
  padding: 0 0 15px 0;
}

.top > p {
  color: hsl(0, 0%, 33%);
  line-height: 25px;
  width: 80%;
}
/* Top complete */

/* Left section */
.left {
  background-color: #2BB3B1;
  border-radius: 0 0 0 10px;
  padding-left: 30px;
  padding-top: 30px;
}

.left > h2 {
  color: #fff;
  padding-bottom: 20px;
}

.twentyNine{
  font-size: 2rem;
  padding: 0 10px 0 0;
  color: #fff;
}

.rest {
  display: inline-block;
  height: 16px;
  width: 80px;

  position: relative;
  top: -6px;

  color: rgba(255, 255, 255, 0.5);
}

.left > p:nth-child(3) {
  padding: 10px 0 20px 0;
  color: rgba(255, 255, 255, 0.7);
}

.left > button {
  height: 23%;
  width: 90%;
  margin-top: 25px;
  border-radius: 5px;
  background-color: #BFDF32;
  border: none;
  outline: none;

  -webkit-box-shadow: 0px 5px 5px 1px rgba(46,74,117,0.3);
  -moz-box-shadow: 0px 5px 5px 1px rgba(46,74,117,0.3);
  box-shadow: 0px 5px 5px 1px rgba(46,74,117,0.3);
}

/* Right section */
.right {
  background-color: #4ABEBD;
  border-radius: 0 0 10px 0;
  padding-left: 30px;
  padding-top: 30px;
}


/* mobile design */

@media screen and (max-device-width: 375px) {
  .container {
  /* dimensioning the container */
  width: 280px;
  border-radius: 10px;
  
  /* positioning the container in the middle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: block;

  /* color */
  background-color: #fff;

  /* shadow */
  -webkit-box-shadow: 0px 0px 20px 0px rgba(10,74,73,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(10,74,73,0.3);
  box-shadow: 0px 0px 20px 0px rgba(10,74,73,0.3);
  }

  .top {
    padding-left: 30px;
    padding-top: 30px;
  }
  .left {
    border-radius: 0 0 0 0;
    height: 270px;
  }
  .right {
    border-radius: 0 0 10px 10px;
  }

  .left > button {
    height: 54px;
    width: 85%  
  }
}